@model  IEnumerable<WebSiteBanHang.Models.KhachHang>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
     
    <div> 
        <table>
            <tr>
                <td>Mã khách hàng</td>
                <td>Tên khách hàng</td>
                <td>Email</td>
                <td>Địa chỉ</td>
            </tr>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.MaKH</td>
                <td>@item.TenKH</td>
                <td>@item.Email</td>
                <td>@item.DiaChi</td>
            </tr>
            }

        </table>
    </div>
</body>
</html>
