@model GenerateViewFromModel.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <input asp-for="Id" placeholder="Id" />
            <span asp-validation-for="Id" class="text-danger"></span>
            <label asp-for="Name"></label>
            <input asp-for="Name" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Price" placeholder="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

