<div class="cart box_1" id="GioHang">
    <a href="@Url.Action("XemGioHang","GioHang")">
        <h3>
            <div class="total">
                <span id="TongTien" >@ViewBag.TongTien vnđ</span> (<span id="simpleCart_quantity"  >@ViewBag.TongSoLuong</span> sp)
            </div>
            <img src="~/Content/images/cart.png" alt="">
        </h3>
    </a>
    <p><a href="@Url.Action("XemGioHang","GioHang")" id="XemGioHang" class="simpleCart_empty">Chi tiết giỏ hàng</a></p>

</div>
